:root {
  --white: #ddd;
  --grey: #bbb;
  --dark-grey: #888;
  --black: #111;
}
@font-face {
  font-family: customFont;
  src: url(./fonts/JetBrainsMono-Medium.ttf);
}
* {
  font-family: customFont;
}
html,
body {
  background: var(--white);
  padding: 0px;
  margin: 0px;
}
.main-container {
  display: grid;
  grid-template: 6rem 1fr 6rem/ 1fr 7fr;
  height: 100vh;
}
header,
.body-container,
footer {
  grid-column-start: 1;
  grid-column-end: 3;
}
.body-container {
  display: grid;
  grid-template: 1fr / 1fr 7fr;
}
.books-container {
  display: grid;
  grid-auto-rows: 4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.25fr;
  /* grid-template-areas: "title author pages readStatus"; */
}
.book-title,
.book-author,
.book-pages,
.book-readStatus, 
.book-removal {
  border: 1px solid var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-title {
  grid-column-start: 1;
  grid-column-end: 2;
  /* grid-area: title; */
}
.book-author {
  grid-column-start: 2;
  grid-column-end: 3;
  /* grid-area: author; */
}
.book-pages {
  grid-column-start: 3;
  grid-column-end: 4;
  /* grid-area: pages; */
}
.book-readStatus {
  grid-column-start: 4;
  grid-column-end: 5;
  /* grid-area: readStatus; */
}
.book-removal {
  margin: 0rem 1rem 0rem 0rem;
}
.button-container {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
}
.button:hover {
  filter: brightness(80%);
  border: solid var(--black);
}
.button {
  background: var(--grey);
  width: 8rem;
  height: 3rem;
  border: solid var(--dark-grey);
  border-radius: 0.4rem;
}
.bookRemoval {
  
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
